@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
    .aside {
        padding: 1.5rem;
    }
    .chat-main {
        grid-area: 2/1/3/3;
    }
    .chat-header {
        grid-area: 1/1/2/3;
    }
    .chat-footer {
        grid-area: 3/1/4/3;
    }
    .aside {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        padding: 3rem;
    }
    .header {
        grid-area: 1/1/2/3;
    }
    .main {
        grid-area: 2/1/3/3;
    }
    .form,
    .title,
    .person__name,
    .wrapper__person > svg {
        display: none;
    }
    .hamberger,
    .main__form {
        display: flex;
    }
}
@media (max-width: 992px) {

    .main {
        padding: 2rem;
    }
    .wallet-top__right,
    .wallet-top__left{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .box {
        padding: 1rem;
    }
    .operation-header__left {
        flex-direction: column;
        align-items: start;
    }
    .table__title {
        border-bottom: 0;
        text-decoration: solid #e2e8f0 underline;
    }
    .wallet-cart,
    .wrapper-wallet-cart__inventory,
    .wallet-top__left-top,
    .wallet-bottom__left,
    .wallet-bottom__right{
        width: 100% !important;
    }
   
    .wallet-top__left-top{
        align-items: normal;
    }
    
}
@media (max-width: 576px) {
    .chart__section2 {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }
    .chart__computing-duration {
        gap: 0.5rem;
    }
    .operation-header__type {
        gap: 0;
    }
    .operation-main {
        flex-direction: column;
        align-items: normal;
        gap: 1.5rem;
    }

    .operation-header {
        align-items: start;
    }
    .operation-header__type-item {
        font-size: 1rem;
        font-weight: 600;
    }
    .operation-header__BTC {
        font-size: 1.2rem;
    }
    .swiper {
        overflow-x: scroll !important;
    }
    .table__product-img {
        width: 4rem;
        height: 4rem;
    }
    td,
    th {
        font-size: 1.3rem;
        padding: 1.5rem;
    }
    .product-Name {
        flex-direction: column;
    }
    .table__product-name {
        text-align: center;
    }
    .form-chat__send{
        justify-content: center;
        gap: 1rem;
        
    }
    .wrapper__iconsAndInput-form-chat {
        flex-basis: 100%;
    }
    .form-chat__input {
        flex-basis: 70%;
    }
    .wallet-cart__inventory{
        width: 100%;
    }
    .wallet-newCart__numbers-bank{
        width: 100% !important;
    }
}
@media (max-width: 400px) {
}
